extends layout
block content
    a(href="/")
        #logoText
            p prism
    if(currentuser)
        #selLog
            a(href="/")
                button.btn.btn-primary(type="button") My Profile
            a(href="/logout")
                button.btn.btn-primary(type="button") Logout
    if(!currentuser)
        #selLog
            a(href="/login")
                button.btn.btn-primary(type="button") Login
    if(usrimage)
        .container
            #myStyle
                img.photoStyle#forMobile(src= " " + usrimage.url)
                p #{usrimage.title}
                p #{usrimage.updated.toDateString()}
                a(href="/images/#{user.id}/#{backPicture}")
                    button.btn.btn-primary(type="button" id="back") back
                a(href="/user/#{user.username}")
                    button.btn.btn-primary(type="button" ) #{user.username}
                a(href="/images/#{user.id}/#{nextPicture}")
                    button.btn.btn-primary(type="button" id="next") next
                br
                if(currentuser)
                    if(currentuser.username === user.username)
                        a(href="/delete/#{usrimage.id}" class="confirm")
                            button.btn.btn-primary(type="button") delete
                        a(href="/updatephoto/#{usrimage.id}")
                           button.btn.btn-primary(type="button") update
    if(!usrimage)
        #myStyle
            h1 #{message}
            a(href="/")
                button.btn.btn-primary(type="button") Home

