extends layout
block extraHeader
    title #{usrimage.title}
block content
    a(href="/")
        #logoText
            p prism
    a#hide(href="/")
          #logoimg
            img(src= "/img/templogo.png")
    if(currentuser)
        #selLog
            a(href="/")
                button.btn.btn-primary(type="button") My Profile
            a(href="/logout")
                button.btn.btn-primary(type="button") Logout
    if(!currentuser)
        #selLog
            a(href="/login")
                button.btn.btn-primary(type="button") Login
    if(usrimage)
        .container
            #myStyle
                .imagewithbuttons
                    a#hideonmob(href="/images/#{user.id}/#{backPicture}")
                            img(src= "/img/left.png", id="back")
                    script.
                        user = !{JSON.stringify(currentuser)}
                        index = !{JSON.stringify(index)}
                        thisimage = !{JSON.stringify(usrimage)};
                        currentUser = " ";
                    img.photoStyle#forMobile(src= " " + usrimage.url)
                    a#hideonmob(href="/images/#{user.id}/#{nextPicture}")
                        img(src= "/img/right.png", id="next")
                a#hide(href="/images/#{user.id}/#{backPicture}" class="backmobile")
                    button.btn.btn-primary#backmobile(type="button") back
                a#hide(href="/user/#{user.username}")
                    button.btn.btn-primary(type="button" ) #{user.username}
                a#hide(href="/images/#{user.id}/#{nextPicture}" class="nextmobile")
                    button.btn.btn-primary#nextmobile(type="button") next
                #commentsection
                    p #{usrimage.title}
                    p #{usrimage.updated.toDateString()}
                    p #{usrimage.tags}
                    #howmanycomments
                a#hideonmob(href="/user/#{user.username}")
                    button.name(type="button" ) #{user.username}
                #com
                form()
                    #comments
                #com2
                if(currentuser)
                    form(role='form', action="/comment/#{usrimage.id}/#{user.id}/#{index}'" ,method="post", id='comment-photo',style='max-width: 300px;')
                        br
                        br
                        .form-group
                            input.form-control(type='text', name="comment", placeholder="comment")
                        .errors
                        button.btn.btn-default(type='submit' id='submitComment') Comment
                    if(currentuser.username === user.username)
                        a(href="/delete/#{usrimage.id}" class="confirm")
                            button.btn.btn-primary(type="button") delete
                        a(href="/updatephoto/#{usrimage.id}")
                            button.btn.btn-primary(type="button") update
                if(!currentuser)
                    p Must be logged in to comment.
                    a(href="/login")
                        button.btn.btn-primary(type="button") Login

    if(!usrimage)
        #myStyle
            h1 #{message}
            a(href="/")
                button.btn.btn-primary(type="button") Home
    br