extends layout
block extraHeader
  if(user)
    title #{user.username}
  if(!user)
    title Prism
block extraScript
    script(src="/js/notifications.js")
block content
  #top
  if (!user)
    //img(src="/img/background2.jpg", id="bg", alt="")
    .container
      #myStyle
        #bigLogo
          h1 prism
        p.lead A Photo Sharing Application
      #btn
        a(href="/login")
          button.btn(type="button") Login
      #btn
        a(href="/register")
          button.btn(type="button") Register
          
      #footerindex
          #myStyle
              a(href="/about")
                  button#footbtn(type="button") About
              a(href="/explore")
                  button#footbtn(type="button") Explore
  if (user)
    .cont
        a(href="/")
          #logoText
            p prism
        a#hide(href="/")
          #logoimg
            img(src= "/img/templogo.png")
        .container
        #profileCont
          #profileInfo
            img#proP.myClass(src= " " + user.propic)
            .myClass
              #fullName
                h1 #{user.fullname}
              #myUserTitle
                p <em>#{user.title}</em>
          #profileInfoRight
              a(href="/user/#{user.username}/following")
                  button#footbtn(type="button") Following #{user.following.length}

              a(href="/user/#{user.username}/followers")
                  button#footbtn(type="button") Followers #{user.followers.length}
            #emptyareaindex
        #wrapper
            #list
        #selLog
          a(href="/update")
            button.btn.btn-primary(type="button") Edit

          a(href="/upload")
            button.btn.btn-primary(type="button") Upload

          a(href="/logout")
            button.btn.btn-primary(type="button") Logout

          a(href="/user/#{user.username}/notifications")
            button.btn.btn-primary(type="button" id="notifbut")
                #notifications
            script.
              currentUser= !{JSON.stringify(user)};
              thisimage = " ";
        .back-to-top 
          a(href="#")  
            .back-to-top ^
        br
        br
    #footer
        #myStyle
            a(href="/about")
                button#footbtn(type="button") About
            a(href="/explore")
                button#footbtn(type="button") Explore
