//
   Created by tyler on 2/10/16. Edited by Alex C 2/19

extends layout

block content
    //img(src="/img/background.jpg", id="bg", alt="")
    .container
        #myStyle
            h1 Prism
            h4 #{message}
            br
            if(user)
                form(role='form', action="/user/#{user.id}/update" ,method="post", id='update',style='max-width: 300px;')
                    .form-group
                        br
                        input.form-control(type='text', name="username", value="#{user.username}")
                    .form-group
                        input.form-control(type='text', name="name", value="#{user.fullname}")
                    .form-group
                        input.form-control(type='text', name="title", value="#{user.title}")
                    .form-group
                        input.form-control(type='text', name="propic", value= "#{user.propic}")
                        br
                        br
                    button.btn.btn-default(type='submit') Submit
                    a(href='/')
                        button.btn.btn-primary(type="button") Cancel
                &nbsp;